.popup_block.show {
  opacity: 1;
}
.popup_block {
  width: 100%;
  height: 100%;
  background-color: rgba(166, 166, 166, 0.7);
  align-items: flex-start;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999999999999999;
  overflow-y: auto;
  display: none;
  opacity: 0;
  align-items: center;
  transition: opacity 0.6s ease;
  -webkit-transition: opacity 0.6s ease;
  -moz-transition: opacity 0.6s ease;
  -ms-transition: opacity 0.6s ease;
  -o-transition: opacity 0.6s ease;
  overflow-y: scroll;
}
.popup_block.show .popup_block_inside {
  transform: translateY(0);
  opacity: 1;
}
.popup_block_inside {
  box-sizing: border-box;
  border-radius: 12px;
  padding: 40px;
  background: #fff;
  width: 95vw;
  max-width: 600px;
  margin: 10vw 0 10vw 0;
  position: relative;
  color: #1d1d1f;
  font-family: Inter, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 137.5% */
  transform: translateY(30px);
  transition:
    transform 0.3s ease,
    opacity 0.6s ease;
  -webkit-transition:
    transform 0.3s ease,
    opacity 0.6s ease;
  -moz-transition:
    transform 0.3s ease,
    opacity 0.6s ease;
  -ms-transition:
    transform 0.3s ease,
    opacity 0.6s ease;
  -o-transition:
    transform 0.3s ease,
    opacity 0.6s ease;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}

.popup_close_button {
  position: absolute;
  top: 15px;
  right: 20px;
  cursor: pointer;
}

.popup_block::-webkit-scrollbar {
  display: none; /* Hide scrollbar for WebKit-based browsers */
}

/* Hide scrollbar for IE, Edge, and Firefox */
.popup_block {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
