.footer {
  display: flex;
  width: 100vw;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  position: relative;
}
a {
  text-decoration: none;
  color: var(--secondary);
}
.footer_block {
  width: 100vw;
  margin: 0 auto 0;
  background: var(--primary);
}
.footer_social {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  margin-top: -10px;
}
.footer_copyright {
  display: flex;
  margin-bottom: 30px;
  color: var(--primary);
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.footer_copyright_light {
  font-weight: 100;
}
.footer_subtext {
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 100;
  line-height: 120%;
  max-width: 400px;
}
.footer_left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}

.footer_block_insde {
  padding: 100px 20px !important;
  box-sizing: border-box !important;
  color: var(--secondary);
  display: flex;
  justify-content: space-between;
  min-height: auto !important;
}

.footer_right {
  display: flex;
  gap: 50px;
}

.footer_right_title {
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 166.667% */
  margin-bottom: 15px;
}
.footer_right_menu {
  width: 165px;
}
.footer_right_submenu {
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 200;
  line-height: 40px; /* 200% */
}

@media (max-width: 1050px) {
  .footer_block_insde {
    flex-direction: column-reverse;
    align-items: center;
    gap: 60px;
  }
  .footer_left {
    width: 595px;
  }
}

@media (max-width: 600px) {
  .footer_right_menu {
    max-width: 165px;
    width: auto;
  }
  .footer_left {
    width: 100%;
  }
  .footer_right {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
  }
}
