/* Home.css adjustments */

.home_hero {
  width: 100%;
  /* Use the --vh custom property instead of vh */
  height: calc(var(--vh, 1vh) * 100 - 106px);
  position: relative;
}
.home_scroll_div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  bottom: 150px;
  left: 0;
  right: 0;
}
.home_scroll {
  color: var(--primary);
  font-size: 16px;
  font-style: normal;
  font-weight: 100;
  line-height: 100%; /* 16px */
  margin-bottom: 10px;
}
.Home_AboutMe {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin-top: 30px;
}
.Home_AboutMe_text {
  max-width: 780px;
  width: 100%;
  color: var(--primary);
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 100;
  line-height: normal;
}

.home_title {
  color: var(--primary);
  text-align: center;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 900;
  line-height: 40px; /* 125% */
}

.temp_home {
  height: 500px;
  width: 100%;
}
.home_skils{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin: 80px auto 80px;
  gap:10px;
}
.home_skils_display{
  width: 32%;
  border-radius: 18px;
  border: 1px solid #D7D7D7;

  padding: 30px 10px 25px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.home_skils_display_title{
  color: var(--primary);
  text-align: center;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: 40px; /* 125% */
  width: 100%;
}
.home_skils_display_btn{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0 0;
}
.home_skils_display_showcase{
  width: 100%;
  margin: 20px auto;
  display: flex;
  align-items: center;
justify-content: center;
gap:10px;
  flex-wrap: wrap;

}
.home_skils_display_showcase_block{
  display: flex;
  width: 80px;
  height: 80px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border-radius: 18px;
  border: 1px solid #E6E6E6;
  transition: transform 0.3s ease;
  background: #ffffff10;
}
.home_skils_display_showcase_block:hover {
  transform: scale(1.1); /* Scale the div by 1.1 on hover */
}
.home_skils_display_showcase_block img{
  width: 100%;
  height: auto;
}
.home_my_work_title{
  color: var(--primary);
  text-align: center;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: 40px; /* 125% */
  width: 100%;
}
.home_my_work{
  width: 100%;
}


.home_contact{
  border-radius: 18px;
  border: 1px solid #D7D7D7;
  margin: 40px auto 5px;
  padding: 30px 10px;
  box-sizing: border-box;
}
.home_contact_title{
  color: var(--primary);;
  text-align: center;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: 40px; /* 125% */
  width: 100%;
}

@media (max-width: 1150px) {
.home_br_hide_mobile{
  display: none;
}
  .home_skils {
    flex-direction: column;
  }
  .home_skils_display {
    width: 100%;
    padding: 40px 10px 25px;
  }
  .home_skils_display_title{
    margin-bottom: 15px;
  }
}
@media (max-width: 1000px) {
  .home_hero {
    width: 100%;
    /* Adjust the height calculation to use the --vh custom property */
    height: calc(var(--vh, 1vh) * 100 - 84px);
  }
}


@media (max-width: 750px) {
.home_skils_display_showcase {
  max-width: 300px;

}
}
