.WebsiteWarning_text {
  color: var(--primary);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.WebsiteWarning_text_gray {
  color: #8d8d8d;
}

.WebsiteWarning {
  color: var(--primary);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 1;
  width: 320px;
  height: 62px;
  box-sizing: border-box;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #858585;
  background: var(--secondary);
  position: fixed;
  right: 20px; /* Adjust as needed */
  bottom: 100px; /* Adjust as needed */
  animation: slideInRight 0.5s forwards;
  overflow: hidden; /* Ensures that the filling does not extend outside the block */
  overflow-x: hidden; /* Ensures that the filling does not extend outside the block */
  z-index: 99999;
}

.WebsiteWarning_fill {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0;
  background-color: var(--primary);
  border-radius: 0 0 10px 10px; /* Matches the bottom border-radius of the block */
  animation: fillWidth 10s linear forwards;
}

@keyframes fillWidth {
  to {
    width: 100%;
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.fadeOut {
  animation: fadeOut 1s forwards;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.WebsiteWarning_close {
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
}

.WebsiteWarning_close img {
  height: auto !important;
  width: auto !important;
}

@media (max-width: 380px) {
  .WebsiteWarning {
    width: 85vw;
    height: 21vw;
    padding: 4vw;
    border-radius: 3vw;
  }
  .WebsiteWarning_text {
    font-size: 4.3vw;
  }
}
