.pg_container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 625px;
}

.pg_options {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.pg_options label {
  display: flex;
  gap: 10px;
  align-items: center;
}

.pg_input {
  background-color: var(--theme_primary_color_white);
  border-width: 1px;
  border-style: solid;
  border-radius: 12px;
  color: var(--theme_primary_color_black);
  padding: 0 10px;
  height: 46px;
  min-width: 40px;
}

.pg_checkbox {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.pg_result {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 20px;
  flex-wrap: wrap;
}
.pg_result_goup {
  display: flex;
  gap: 10px;
  align-items: center;
}

.pg_multiple_results ul {
  list-style-type: none;
  padding-left: 0;
}

.pg_multiple_results li {
  background-color: var(--theme_primary_color_white);
  border: 1px solid var(--theme_primary_color_dark_gray);
  border-radius: 8px;
  padding: 10px;
  margin-top: 5px;
}

.pg_strength {
  margin-top: 20px;
  font-weight: bold;
}

.pg_strength.strong {
  color: #4dd181;
}

.pg_strength.medium {
  color: #ffcc00;
}

.pg_strength.weak {
  color: #ff6f61;
}
