.home_hero {
  width: 100%;
  display: flex;
  height: 75vh;
  align-items: center;
  justify-content: center;
  gap: 20px;
  position: relative;
  box-sizing: border-box;
  padding: 20px;
}
.home_hero_text_1 {
  font-family: 'MuseoModerno', serif;
  font-size: 90.516px;
  font-style: normal;
  font-weight: 900;
  line-height: 90.516px; /* 100% */
  text-transform: uppercase;
  -webkit-text-stroke-width: 1.6px;
  -webkit-text-stroke-color: var(--theme_primary_color_black);
  color: transparent; /* This ensures the stroke is visible */
}

.home_hero_text_2 {
  color: var(--theme_primary_color_black);
  font-family: 'MuseoModerno', serif;
  font-size: 90.516px;
  font-style: normal;
  font-weight: 900;
  line-height: 90.516px; /* 100% */
  text-transform: uppercase;
}

.home_hero_new {
  width: 100vw;
  height: var(--hero-height);
  background: var(--theme_primary_color_white);
  margin-top: var(--hero-margin-top, 0);
  border-bottom: 0.5px solid #b2b2b2;
  /*background: url("/public/images/home_bg.png");*/
  /*background-size: contain;*/
}

.home_block {
  display: flex;
  gap: 15px;
  flex-direction: column;
  align-items: flex-start;
}
.home_block_about_me_links {
  display: flex;
  gap: 15px;
}
.home_block_about_me_links_projects {
  display: flex;
  gap: 15px;
}
.home_block_title {
  margin-bottom: 0px !important;
}

.home_my_work_block {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% - 20px);
  margin-left: 10px;
  margin-right: 10px;
}

#home_portfolio_block {
  width: 100vw;
  margin-left: calc((100vw - 100%) / -2);
  box-sizing: border-box;
  margin-top: -10px;
  background: #1c1c1c;
  padding: 60px 0;
  color: white;
}

.home_footer {
  margin-top: 30px !important;
}

.home_block_work {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #999;
}

.home_hero_about {
  position: absolute;
  border-left: 2px solid var(--theme_primary_color_black);
  padding-left: 5px;
  color: var(--costume_footer_txt_color_1);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.04px;
  bottom: 18%;
  right: 10%;
}

.home_loader {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background: var(--theme_primary_color_white);
  top: 0px;
  z-index: 999999999;
}

.home_block_links {
  margin-top: -20px;
}
.home_block_links_btns {
  width: 100%;
  display: flex;
  gap: 10px 10px;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
}
.home_block_links_btn {
  width: calc((100% / 2) - 5px);
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  font-size: 16.8px !important;
}

.home_block_links_btn_icon {
  transform: translateX(0) !important;
  transition: transform 0.3s ease; /* Smooth easing for the animation */
}

.home_block_links_btn:hover .home_block_links_btn_icon {
  transform: translateX(4px) !important; /* Moves the icon 4px to the right */
}

@media (max-width: 1100px) {
  .home_page_paraghaph {
    line-height: 20px;
  }
  .home_hero_text_1,
  .home_hero_text_2 {
    font-size: 60px;
    line-height: 60px;
  }
  .home_hero_svg {
    height: 180px;
    width: 180px;
  }
  .home_hero {
    padding-bottom: 60px;
  }
}

@media (max-width: 780px) {
  .home_hero {
    flex-direction: column;
    padding-bottom: 60px;
  }
  .home_hero_text_1,
  .home_hero_text_2 {
    width: 100%;
    text-align: center;
  }
  .home_hero_text {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .home_hero_text br {
    display: none;
  }

  .home_hero_about {
    display: none;
  }
  .home_block_links_btn {
    width: 100%;
  }
}

@media (max-width: 650px) {
  .home_hero {
    height: 70vh;
  }
}
