.AdminSideMenu {
  width: 280px;
  min-height: 20px;
  height: 78vh;
  background: var(--theme_primary_color_dark_gray);
  border-radius: 12px;
  box-sizing: border-box;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 5px;
}

.AdminSideMenu_btn {
  cursor: pointer;
  background: transparent;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 8px;
  text-decoration: none;
  color: var(--theme_primary_color_black);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
.AdminSideMenu_btn:hover {
  background: var(--theme_primary_color_darkest_gray);
}

.AdminSideMenu_btn:visited {
  color: var(--theme_primary_color_black);
}
.AdminSideMenu_btn_active {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 8px;
  text-decoration: none;
  color: var(--theme_primary_color_black);
  background: var(--theme_primary_color_white);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
