.navbar {
  margin: auto;
  margin-top: 10px;
  margin-bottom: 4px;
  max-width: 1900px;;
  width: 98vw;
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: var(--theme_primary_color_dark_gray);
  border-radius: 12px;
  color: white;
  padding: 0.5rem 2rem;
  box-sizing: border-box;
}

.navBrand,
.navItems a {
  color: var(--theme_primary_color_black);
  text-decoration: none;
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
  display: flex;
  align-items: center;
}

.menuIcon {
  background: none;
  border: none;
  color: white;
  font-size: 1.5rem;
  display: none; /* Hide by default, will be displayed on small screens */
  cursor: pointer;
}

.navItems {
  display: flex;
  align-items: center;
  gap: 20px;
}

.navbarShowOnMobile {
  display: none;
}

@media (max-width: 1000px) {
  .menuIcon {
    display: flex; /* Show menu icon on small screens */
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 99999999;
  }

  .navbarShowOnMobile {
    display: block;
  }

  .navItems {
    display: none; /* Hide menu items by default on small screens */
    flex-direction: column;
    width: calc(100vw + 4rem);
    padding: 1rem;
    position: absolute;
    top: 55px; /* Adjust based on navbar height */
    left: 0;
    right: 0;
    gap: 10px;
    background-color: var(--theme_primary_color_white);
    box-sizing: border-box;
  }

  .navItems a {
    width: 100%;
    justify-content: center;
  }

  .navItems.visible {
    display: flex; /* Show menu items when menu icon is clicked */
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    width: 100%;
    z-index: 999999;
    border-bottom: 1px solid var(--theme_primary_color_darkest_gray);
  }

  .navItems button {
    width: 100%;
  }
}

@media (max-width: 700px) {
  .navBrandImg {
    height: 18px;
    width: auto;
  }

  .navbar {
    padding-right: 10px;
  }
}

@media (max-width: 320px) {
  .navbar {
    padding: 0.5rem 5px;
  }
}

.LangSelect_background {
  width: 100vw;
  min-height: 100%;
  background-color: rgb(255 255 255 / 59%);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999999;
  overflow-y: auto;
}

.LangSelect_container {
  position: relative;
  box-sizing: border-box;
  border: 1px solid var(--theme_primary_color_black);
  border-radius: 24px;
  padding: 45px 65px;
  background: #fff;
  height: 300px;
  margin: auto;
}

.LangSelect_close_btn {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}

#navbar_lang_select_btns {
  width: 100%;
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.home_portfolio_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  position: relative;
  border: 1.5px solid #0000 !important;
  border-radius: 12px;
  background: linear-gradient(var(--theme_primary_color_white), var(--theme_primary_color_white)) padding-box,
  linear-gradient(var(--angle), #fb6dfeff, #53e1ff) border-box;
  animation: 8s rotate linear infinite;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.home_portfolio_btn:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--theme_primary_color_darkest_gray_20p_opacity); /* Semi-transparent overlay */
  border-radius: inherit; /* Ensure the mask follows the button's border-radius */
  pointer-events: none; /* Allow clicking through the mask */
}

@keyframes rotate {
  to {
    --angle: 360deg;
  }
}

@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

#navbar_isDarkMode {
  cursor: pointer;
}

.navbar_on_hover, .navbar_on_hover_text {
  transition: transform 0.1s ease-in-out;
}

.navbar_on_hover:hover {
  transform: scale(1.08);
}

.navbar_on_hover_text:hover {
  transform: scale(1.03);
}


.profileImageContainer {
  position: relative;
}

.profileImage {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}






.profileContainer {
  position: relative;
  display: inline-block;
  margin-left: 15px;
}

.profileImage {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  cursor: pointer;
  object-fit: cover;
  border: 2px solid #ddd;
}


.profilePopup button {
  display: block;
  width: 100%;
  margin-bottom: 5px;
}

.profilePopup button:last-child {
  margin-bottom: 0;
}

.profilePopup button:hover {
  background-color: #f0f0f0;
}

/* Adjusting nav items alignment */
.navItems {
  display: flex;
  align-items: center;
}


.initialsCircle {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #317ce6; /* or any preferred background color */
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.profileContainer {
  position: relative;
  display: inline-block;
  display: inline-block;
  margin-left: 15px;
  position: absolute;
  right: 50px;
  top: auto;
  bottom: auto;
  margin-top: 5px;
  }

.profileImage {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  cursor: pointer;
  object-fit: cover;
  border: 2px solid #ddd;
}

.profilePopup {
  position: absolute;
  top: 50px;
  right: 0;
  background-color: #fff;
  padding: 5px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  width: 170px;
  left: -100px;
}

.profilePopup button {
  display: block;
  width: 100%;
  margin-bottom: 5px;
}

.profilePopup button:last-child {
  margin-bottom: 0;
}

.profilePopup button:hover {
  background-color: #f0f0f0;
}
