.footer_copyright {
  display: flex;
  margin: 0 auto;
}
.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  position: relative;
  margin-top: 80px;
  margin-bottom: 10px;
}
.footer_main {
  display: flex;
  width: 100%;
  padding: 45px 0 45px 0;
  align-items: center;
  background: var(--costume_footer_bg_color);
}

.footer_main_top {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}
.footer_main_top_social {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.footer_main_top_text {
  color: #fff;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 112.5% */
  max-width: 380px;
}
.footer_main .main {
  gap: 30px;
}

.footer button {
  padding: 10px 28px !important;
}
.footer_main_top_social a {
  transform: scale(1);
}
.footer_main_top_social a:hover {
  transform: scale(1.05);
}

.footer_block_about_me_links {
  display: flex;
  gap: 15px;
}

@media (max-width: 670px) {
  .footer_main {
  }
}

@media (max-width: 290px) {
  .footer_main_top_social {
    gap: 10px;
  }
}
