.app_edit_profile {
  width: 100vw;
  min-height: 100vh;
}
.app_edit_profile_option_title {
  height: 20vh;
  padding: 20px 20px 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
}

.app_edit_profile_option_text {
  display: flex;
  gap: 10px;
}
.input_field {
}
.app_edit_profile_form {
}
.profile_image_upload {
}
