/*App.css*/

#root {
}
.main {
  width: 90vw;
  max-width: 1180px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 80px;
}
.admin_main {
  width: 98vw;
  margin: 0 auto;
  max-width: 1900px;
  border-radius: 100px;
  display: flex;
  gap: 20px;
  /*border: 1px solid var(--theme_primary_color_dark_gray);*/
}
.admin_breadcrumb {
  width: 100%;
  display: flex;
  justify-content: start;
}
.admin_breadcrumb .breadcrumb {
  width: calc(98vw - 4rem) !important;
  max-width: 1900px !important;
  padding: 0rem 0vw 1rem 0vw !important;
  margin: 20px auto 0 !important;
}

.page {
  box-sizing: border-box;
  margin: 0 auto 0;
  min-height: calc(var(--vh, 1vh) * 100 - 106px);
}
@media (max-width: 1000px) {
  .page {
    min-height: calc(var(--vh, 1vh) * 100 - 84px);
  }
}

#top_notification {
  background: #0b0b0c;
  border-bottom: 1px solid rgb(255 255 255 / 16%);
  color: #f2f0e8;
  font-family: 'Space Mono', monospace;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  gap: 4px;
  letter-spacing: 0.07em;
  line-height: 16px;
  min-height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-transform: uppercase;
  user-select: none;
  flex-wrap: wrap;
  text-align: center;
  box-sizing: border-box;
  padding: 7px 42px;
}

#top_notification::before {
  background: #e40523;
  content: '';
  height: 6px;
  left: 20px;
  position: absolute;
  transform: rotate(45deg);
  width: 6px;
}

#top_notification strong,
#top_notification span {
  color: #ffffff;
}

@media (max-width: 600px) {
  #top_notification {
    font-size: 9px;
    line-height: 14px;
    padding: 7px 34px;
    text-align: center;
  }

  #top_notification::before {
    left: 15px;
  }
}

.reveal {
  position: relative;
  transform: translateY(100px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

/* Default link color */
a {
  color: #4b8be3; /* Custom color for unvisited links */
}

/* Visited link color */
a:visited {
  color: #8d3ab4; /* Custom color for visited links */
}

a:active {
  color: #0b49a0; /* Optional color for active (clicked) links */
}

/*costume */
/*for homepage */
@media (max-width: 1300px) and (min-width: 951px) {
  #do_not_show {
    display: none !important;
  }
}
