@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
:root {
  --primary: #222222;
  --secondary: #ffffff;
}
body {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: Inter;
  background: var(--secondary);
}
.page {
  position: relative;
  padding: 15px;
  max-width: calc(1080px + 20px);
  box-sizing: border-box;
  margin: 0 auto 0;
  min-height: calc(var(--vh, 1vh) * 100 - 106px);
}

.underwork {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media (max-width: 1000px) {
  .page {
    min-height: calc(var(--vh, 1vh) * 100 - 84px);
  }
}
