@import url('https://fonts.googleapis.com/css?family=Inter:400,300,600,700,800');
@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:ital,wght@0,100..900;1,100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');

:root {
  font-family: Inter, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;

  color-scheme: light dark;
  color: #1d1d1f;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --theme_primary_color_black: #1d1d1f;
  --theme_primary_color_white: #ffffff;
  --theme_primary_color_light_gray: #f8f8f8;
  --theme_primary_color_dark_gray: #f2f3f7;
  --theme_primary_color_darkest_gray: #bbbbbb;
  --theme_primary_color_darkest_gray_20p_opacity: #bbbbbb20;
  --theme_primary_color_red: #e40523;

  --costume_hashtag_bg_color: #f2f3f7;
  --costume_footer_bg_color: #1d1d1f;
  --costume_footer_txt_color_1: #434e4eff;
  --costume_info_notification: #f7f8f9;
  --costume_info_loading_notification: #cccccc;
  --banner_bg_color: #2B373B;

  /* Transition for smooth theme changes */
  transition:
    background-color 0.8s ease-in-out,
    color 0.8s ease-in-out;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  cursor:
    url('/public/system/arrow-cursor-outline.svg') 12 12,
    auto;
  position: relative;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #1d1d1f;
    background-color: #ffffff;
  }
}

/* Dark Mode Specific Styles */
:root.dark-mode {
  color: #ffffff;
  background-color: #222;

  --theme_primary_color_black: #ffffff;
  --theme_primary_color_white: #1d1d1f;
  --theme_primary_color_light_gray: #f8f8f8;
  --theme_primary_color_dark_gray: #646464;
  --theme_primary_color_darkest_gray: #dedede;
  --theme_primary_color_darkest_gray_20p_opacity: #bbbbbb20;
  --theme_primary_color_red: #e40523;

  --costume_hashtag_bg_color: #ffffff17;
  --costume_footer_bg_color: #ffffff17;
  --costume_footer_txt_color_1: #e0e0e0ff;
  --costume_info_notification: #f7f8f9;
  --costume_info_loading_notification: #cccccc;
  --banner_bg_color: #2B373B;
}
