@import url("https://fonts.googleapis.com/css?family=Inter:400,300,600,700,800");

:root {
  font-family: Inter, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;

  color-scheme: light dark;
  color: #1D1D1F;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


  --theme_primary_color_black:#1D1D1F;
  --theme_primary_color_white:#ffffff;
  --theme_primary_color_dark_gray: #e5e6ea;
}



body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #ffffff;
    background-color: #333333;
  }

}
