.pdf_to_word_container {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.file_input {
  border: 1px solid var(--theme_primary_color_black);
  padding: 10px;
  font-size: 16px;
  border-radius: 12px;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

@media (max-width: 370px) {
  .file_input {
    width: 100%;
  }
}
