.validator_container {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}
#validator_input {
  width: 100%;
  max-width: 500px;
  background-color: var(--theme_primary_color_white);
  border-width: 1px;
  border-style: solid;
  border-radius: 100px;
  color: var(--theme_primary_color_black);
  padding: 0 10px;
  height: 46px;
}
