/* src/pages/admin/portfolio/CertificationManager.css */

.portfolio_manager_container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.category_block,
.subcategory_block {
    background: var(--theme_primary_color_dark_gray);
    padding: 10px;
    border-radius: 12px;
    margin-bottom: 10px;
}

.portfolio_manager_container_popup_title {
    margin-top: -10px;
}

.subcategory_block {
    border: 1px solid var(--theme_primary_color_darkest_gray);
}

.category_block button {
    margin-bottom: 5px;
}

.category_header_btns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.portfolio_manager_page_title {
    margin-bottom: -40px !important;
}

.category_header,
.subcategory_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.items_list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    background: var(--theme_primary_color_white);
    border-radius: 8px;
    box-sizing: border-box;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid var(--theme_primary_color_dark_gray);
}

.item_card {
    background: var(--theme_primary_color_dark_gray);
    border-radius: 8px;
    width: 250px;
    padding: 10px;
}

.item_card img {
    width: 100%;
    height: auto;
    border-radius: 4px;
}

.item_info {
    margin-top: 10px;
}

.item_info p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    height: 45px;
    white-space: normal;
    display: -webkit-box;
}

.item_links a {
    margin-right: 5px;
    color: blue;
}

.item_actions {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    align-items: center;
    justify-content: flex-start;
}

.item_actions button {
    flex: 1 1 45%;
}

.save_button {
    align-self: flex-end;
}

.add_category_section {
    margin-top: 20px;
}

.popup_content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form_group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.form_group label {
    margin-bottom: 5px;
    width: 150px;
}

.popup_actions {
    width: 100%;
    display: flex;
    gap: 5px;
    margin-top: 10px;
}

.form_group input,
.form_group textarea {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    margin-bottom: 5px;
}

.modal_actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}
